/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/app
/public/backstage
public/assets/css/style.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.*.swp
.idea/*
!.idea/runConfigurations
composer.phar
apikeys
api-samples
*.DS_Store
