@import "../_global/global";

a {
    text-decoration: none !important;

    &:hover {
        color: $gb_color_app_white;
    }
}

.menu {
    color: $gb_color_app_white;
    font-weight: $gb_font-light;
    margin-left: 5px;
}

.ui-title {
    margin-top: 20px;
}

.multiselect {
    .multiselect__option--highlight,
    .multiselect__option--highlight:after,
    .multiselect__tag {
        background: $gb_color_dark2;
    }

    .multiselect__tag-icon:after {
        color: $gb_color_white90;
    }

    .multiselect__tag-icon:focus,
    .multiselect__tag-icon:hover {
        background: $gb_color_dark5;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1480px;
    }
}
$menu-frm_padding: 10px;

#logo-text-frm {
    $logo_height: $menu-frm_height - ($menu-frm_padding * 2);

    align-items: center;
    background-color: $gb_color_app_white;
    border: 1px solid $gb_color_dark4;
    border-radius: $gb_border-radius;
    display: flex;
    height: $logo_height;
    justify-content: center;
    width: $logo_height;

    #logo-text {
        color: $gb_color_dark1;
        font-size: 1.2rem;
        font-weight: $gb_font-bold;
        text-transform: uppercase;
    }
}
#brand-frm {
    display: flex;
    margin-right: 24px;

    #text {
        color: $gb_color_app_white;
        font-size: 2rem;
        font-weight: $gb_font-light;
        letter-spacing: $gb_letter-spacing * 3;
        margin-left: 5px;
        word-spacing: 5px;
        text-transform: uppercase;
    }
}
