.modal-auth {
    font-size: 14px;

    .modal-content {
        background-color: $gb_color_table_bg;
    }

    .modal-header {
        border: 0;
        padding: 0;
    }

    .nav-auth {
        width: 100%;

        .nav-item {
            flex: 1;
            font-size: 1.5rem;
            cursor: pointer;

            &.active {
                font-weight: 600;
                font-size: 1.8rem;
            }
        }
    }
}

.sign-frm {
    display: flex;

    .sign-up-btn {
        background-color: $gb_color_dark2;
        border: 1px solid $gb_color_app_white;
        color: $gb_color_app_white;
        margin-right: 5px;

        &:hover {
            background-color: $gb_color_dark3;
        }
    }

    .sign-in-btn {
        background-color: $gb_color_gold;
        color: $gb_color_gold_dark;
        text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.5);

        &:hover {
            background-color: $gb_color_gold_ligth;
        }
    }
}
