.btn {
    border: none transparent;
    border-radius: @gb_border-radius;
    letter-spacing: @gb_letter-spacing;

    &:focus {
        outline: none;
        box-shadow: initial;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.btn-action {
    border: 1px solid @gb_color_gold_dark;
    white-space: nowrap;
    background-color: @gb_color_gold;
    color: @gb_color_dark1;
    .box-shadow(0.2);

    &:hover {
        background-color: @gb_color_gold_ligth;
    }
}

.btn-register {
    width: 100%;
    padding: 0.25rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
}
