.cloak {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: $gb_color_dark1;

    .spinner-wrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-border {
        height: 5rem;
        width: 5rem;
        color: $gb_color_app_white;
    }
}
