table {
    table-layout: fixed;

    thead {
        background-color: $gb_color_dark1;

        .tr {
            height: 30px;
        }

        th {
            color: $gb_color_app_white;
            cursor: default;
            font-size: 1rem;
            font-weight: $gb_font-bold;
            letter-spacing: $gb_letter-spacing;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
        }
    }

    tbody {
        tr {
            height: 20px;

            &:nth-child(even) {
                background-color: $gb_color_table_row;
            }

            &:hover {
                background-color: $gb_color_dark5;

                td {
                    color: $gb_color_app_white;
                }
            }

            &.selected {
                background-color: $gb_color_gold;

                td {
                    color: $gb_color_dark1;
                }
            }
        }

        td {
            color: $gb_color_dark1;
            cursor: default;
            font-size: 1rem;
            font-weight: $gb_font-medium;
            overflow: hidden;
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
        }
    }
}

.table-frm {
    overflow: auto;
}

.table {
    margin-bottom: 0;

    th,
    td {
        border: none !important;
        vertical-align: middle !important;
    }
}

.table.table-rank {
    min-width: 100%;

    .col-position {
        min-width: 15%;
        width: 15%;
    }
    .col-player {
        min-width: 55%;
        width: 55%;
    }
    .col-balance {
        min-width: 30%;
        width: 30%;
    }

    .tbody {
        .col-position {
            font-weight: $gb_font-bold;
        }

        .col-player {
            display: flex;
            flex-direction: row;
            align-items: center;

            $img-frm_height: 15px;
            .img-frm {
                background-color: white;
                border-radius: 50%;
                height: $img-frm_height;
                margin-right: 5px;
                width: $img-frm_height;

                .icon {
                    color: $gb_color_dark1;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
