.table.table-rank {
    min-width: 100%;

    .col-position {
        min-width: 15%;
        width: 15%;
    }
    .col-player {
        min-width: 55%;
        width: 55%;
    }
    .col-balance {
        min-width: 30%;
        width: 30%;
    }

    .tbody {
        .col-position {
            font-weight: $gb_font-bold;
        }

        .col-player {
            display: flex;
            flex-direction: row;
            align-items: center;

            $img-frm_height: 15px;
            .img-frm {
                background-color: white;
                border-radius: 50%;
                height: $img-frm_height;
                margin-right: 5px;
                width: $img-frm_height;

                .icon {
                    color: $gb_color_dark1;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
