#tab-home-frm.tab-content-frm {
  background-color: hsl(216, 10%, 20%);
  height: calc(100% - (50px + 40px + 40px));
  padding-top: 15px;
  padding-bottom: 15px;
}
#tab-home-frm #filters-frm {
  background-color: transparent;
  height: 60px;
  margin-bottom: 15px;
}
#tab-home-frm #tournaments-frm #table-frm {
  background-color: hsl(0, 0%, 97%);
  border-radius: 3px;
  height: calc(100vh - ((50px + 40px + 40px) + (60px + (15px * 3))));
  overflow: auto;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table {
  min-width: 800px;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-start {
  min-width: 80px;
  width: 10%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-sports {
  min-width: 190px;
  width: 23.75%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-buy-in {
  min-width: 50px;
  width: 6.25%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-name {
  min-width: 190px;
  width: 23.75%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-time-frame {
  min-width: 80px;
  width: 10%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-status {
  min-width: 90px;
  width: 11.25%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-enrolled {
  min-width: 60px;
  width: 7.5%;
}
#tab-home-frm #tournaments-frm #table-frm #tournaments.table #col-players {
  min-width: 60px;
  width: 7.5%;
}
#tab-home-frm #tournaments-frm #info-frm {
  background-color: hsl(0, 0%, 97%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - ((50px + 40px + 40px) + (60px + (15px * 3))));
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm {
  align-items: center;
  background-color: hsl(216, 10%, 10%);
  display: flex;
  height: 50px;
  padding: 5px 10px;
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #img-frm {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  height: 36px;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #img-frm #img .icon {
  font-size: 2.5rem;
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #title-frm {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 10px;
  overflow: hidden;
  width: calc(100% - (40px + 80px));
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #title-frm #title {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 90%);
  letter-spacing: 1px;
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #status-frm {
  overflow: hidden;
  width: 80px;
}
#tab-home-frm #tournaments-frm #info-frm #title-bar-frm #status-frm #status {
  background-color: hsl(51, 53%, 65%);
  border-radius: 3px;
  color: hsl(216, 10%, 10%);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0px 5px;
  text-transform: uppercase;
}
#tab-home-frm #tournaments-frm #info-frm #data-frm {
  padding: 5px 10px 0px 10px;
}
#tab-home-frm #tournaments-frm #info-frm #data-frm .row {
  margin-bottom: 5px;
}
#tab-home-frm #tournaments-frm #info-frm #data-frm .title {
  color: hsl(216, 10%, 10%);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#tab-home-frm #tournaments-frm #info-frm #data-frm .value {
  color: hsl(216, 10%, 10%);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm {
  overflow: auto;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table {
  min-width: 100%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table #col-time {
  min-width: 20%;
  width: 20%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table #col-sport {
  min-width: 20%;
  width: 20%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table #col-game {
  min-width: 60%;
  width: 60%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table .tbody .col-position {
  font-weight: 700;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table .tbody .col-game {
  display: flex;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table .tbody .col-game .team {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table .tbody .col-game .score {
  background-color: hsl(216, 10%, 10%);
  border-radius: 3px;
  color: hsl(0, 0%, 90%);
  margin: 0px 5px;
  width: 30px;
  text-align: center;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #games.table .tbody .col-game .vs {
  text-align: center;
  width: 30px;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table {
  min-width: 100%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table #col-position {
  min-width: 10%;
  width: 10%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table #col-player {
  min-width: 60%;
  width: 60%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table #col-price {
  min-width: 30%;
  width: 30%;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table .tbody .col-position {
  font-weight: 700;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table .tbody .col-player {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table .tbody .col-player .img-frm {
  background-color: white;
  border-radius: 50%;
  height: 15px;
  margin-right: 5px;
  width: 15px;
}
#tab-home-frm #tournaments-frm #info-frm .tables-frm #rank.table .tbody .col-player .img-frm .icon {
  color: hsl(216, 10%, 10%);
  font-size: 1.5rem;
}
