html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #1d2329;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layout__navbar {
    height: 62px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #16191c;
}
.layout__navbar--transparent {
    background: transparent;
}
.layout__navbar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.layout__header {
    height: 48px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: #16191c;
}
.layout__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.layout__center__wrapper {
    width: 285px;
}
.layout__content {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #1d2329;
}
.layout__content__about {
    width: 100%;
    max-width: 472px;
    padding: 120px 16px;
    box-sizing: border-box;
    margin: 0 auto;
}
.layout__content__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.layout__content__container__mobile {
    padding: 16px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layout__content__container__mobile__switch {
    display: inline-flex;
    align-items: center;
}
.layout__content__container__mobile__switch__icon {
    margin-right: 8px;
}
.layout__content__container__mobile__switch__title {
    margin-right: 8px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
}
.layout__content__container__slider {
    padding: 16px;
    border-bottom: 1px solid #3a454d;
}
.layout__content__container__slider--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout__content__container__content {
    display: flex;
    flex: 1;
}
.layout__content__container__content__sidebar {
    width: 270px;
    padding: 16px;
    box-sizing: border-box;
    border-right: 1px solid #3a454d;
}
.layout__content__container__content__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.layout__content__container__filter {
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1d2329;
    border-bottom: 1px solid #3a454d;
}
.layout__content__container__filter__filters {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layout__content__container__filter__filters__content {
    flex: 1;
    padding: 0 8px;
}
.layout__content__container__filter__content {
    padding: 0 8px;
}
.layout__content__container__filter__content--sidebar {
    width: 270px;
    box-sizing: border-box;
}
.layout__content__sidebar {
    width: 320px;
    background: #191e24;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}
.layout__content__sidebar--left {
    border-right: 1px solid #3a454d;
}
.layout__content__sidebar__chat {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.layout__content__sidebar__chat__container {
    background: #1d2329;
}
.layout__content__sidebar__chat__container__messages {
    padding: 16px;
}
.layout__content__sidebar__chat__container__input {
    background: #3a454d;
    display: flex;
    align-items: center;
    padding: 8px;
}
.layout__content__sidebar__chat__cta {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    background: #3a454d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.layout__content__sidebar__chat__cta__title {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
}
.layout__content__sidebar__header {
    margin: -16px;
    padding-bottom: 32px;
}
.layout__content__sidebar__header__input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    background: #2c343a;
    display: flex;
    align-items: center;
}
.layout__content__sidebar__header__bet {
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    height: 72px;
}
.layout__content__sidebar__header__bet__content {
    display: flex;
    flex-direction: column;
}
.layout__content__sidebar__header__bet__content__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: #ffffff;
}
.layout__content__sidebar__header__bet__content__group {
    display: flex;
    align-items: center;
}
.layout__content__sidebar__header__bet__content__group__coins {
    margin-right: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #b7bfc7;
}
.layout__content__sidebar__header__bet__content__group__balance {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.layout__content__sidebar__date__weekday {
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #2c343a;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.label {
    color: #505d66;
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}
.label--large {
    font-size: 14px;
    font-weight: bold;
}

.input {
    height: 30px;
    box-sizing: border-box;
    padding: 8px 16px;
    background-color: #1a1e21;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100%;
}
.input--padding--left {
    padding-left: 32px;
}
.input--large {
    height: 46px;
}
.input::placeholder {
    color: #505d66;
}

.checkbox {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    margin: 10px;
}
.checkbox::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #1a1e21;
}
.checkbox:checked::after {
    content: " ";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    z-index: 3;
    background-color: #505d66;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile__content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 18px;
}
.profile__content__name {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #b7bfc7;
}
.profile__content__balance {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo__icon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: Ubuntu, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: -0.17px;
    color: #16191c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.logo__text {
    font-smooth: always;
    margin-left: 8px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 3px;
    color: #ffffff;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #57626f;
}
.icon--color--yellow-1 {
    background-color: #f6e02f;
}
.icon--color--yellow-2 {
    background-color: #f2cd5d;
}
.icon--color--light-1 {
    background-color: #ffffff;
}
.icon--color--light-2 {
    background-color: #b7bfc7;
}
.icon--color--dark-3 {
    background-color: #1d2329;
}
.icon--color--dark-4 {
    background-color: #2c343a;
}
.icon--small {
    width: 20px;
    height: 20px;
}
.icon--smaller {
    width: 18px;
    height: 18px;
}
.icon--micro {
    width: 16px;
    height: 16px;
}
.icon--nano {
    width: 12px;
    height: 12px;
}
.icon--atom {
    width: 10px;
    height: 10px;
}
.icon--slip {
    mask: url(../i/icon/icon-slip.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-slip.svg) no-repeat center;
}
.icon--usd {
    mask: url(../i/icon/icon-usd.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-usd.svg) no-repeat center;
}
.icon--delete {
    mask: url(../i/icon/icon-delete.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-delete.svg) no-repeat center;
}
.icon--person {
    mask: url(../i/icon/icon-person.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-person.svg) no-repeat center;
}
.icon--chat {
    mask: url(../i/icon/icon-chat.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-chat.svg) no-repeat center;
}
.icon--coins {
    mask: url(../i/icon/icon-coins.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-coins.svg) no-repeat center;
}
.icon--expand {
    mask: url(../i/icon/icon-expand.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-expand.svg) no-repeat center;
}
.icon--menu {
    mask: url(../i/icon/icon-menu.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-menu.svg) no-repeat center;
}
.icon--check {
    mask: url(../i/icon/icon-check.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-check.svg) no-repeat center;
}
.icon--avatar {
    mask: url(../i/icon/icon-avatar.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-avatar.svg) no-repeat center;
}
.icon--home {
    mask: url(../i/icon/icon-home.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-home.svg) no-repeat center;
}
.icon--cup {
    mask: url(../i/icon/icon-cup.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-cup.svg) no-repeat center;
}
.icon--people {
    mask: url(../i/icon/icon-people.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-people.svg) no-repeat center;
}
.icon--calendar {
    mask: url(../i/icon/icon-calendar.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-calendar.svg) no-repeat center;
}
.icon--games {
    mask: url(../i/icon/icon-games.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-games.svg) no-repeat center;
}
.icon--rank {
    mask: url(../i/icon/icon-rank.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-rank.svg) no-repeat center;
}
.icon--arrow-right {
    mask: url(../i/icon/icon-arrow-right.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-arrow-right.svg) no-repeat center;
}
.icon--arrow-left {
    mask: url(../i/icon/icon-arrow-left.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-arrow-left.svg) no-repeat center;
}
.icon--sport-baseball {
    mask: url(../i/icon/icon-sport-baseball.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-baseball.svg) no-repeat center;
}
.icon--sport-boxing {
    mask: url(../i/icon/icon-sport-boxing.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-boxing.svg) no-repeat center;
}
.icon--sport-esports {
    mask: url(../i/icon/icon-sport-esports.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-esports.svg) no-repeat center;
}
.icon--sport-nfl {
    mask: url(../i/icon/icon-sport-nfl.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-nfl.svg) no-repeat center;
}
.icon--sport-nba {
    mask: url(../i/icon/icon-sport-nba.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-nba.svg) no-repeat center;
}
.icon--sport-tennis {
    mask: url(../i/icon/icon-sport-tennis.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-tennis.svg) no-repeat center;
}
.icon--sport-hockey {
    mask: url(../i/icon/icon-sport-hockey.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-sport-hockey.svg) no-repeat center;
}
.icon--tourney {
    mask: url(../i/icon/icon-tourney.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-tourney.svg) no-repeat center;
}
.icon--down {
    mask: url(../i/icon/icon-down.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-down.svg) no-repeat center;
}
.icon--filter {
    mask: url(../i/icon/icon-filter.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-filter.svg) no-repeat center;
}
.icon--search {
    mask: url(../i/icon/icon-search.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-search.svg) no-repeat center;
}
.icon--menu-mobile {
    mask: url(../i/icon/icon-menu-mobile.svg) no-repeat center;
    -webkit-mask: url(../i/icon/icon-menu-mobile.svg) no-repeat center;
}

.tab {
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    display: inline-flex;
    flex-direction: row;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #ffffff;
    align-items: center;
}
.tab--large {
    background: #2c343a;
    display: flex;
}
.tab--large__item {
    flex: 1;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    border-bottom: 1px solid #3a454d;
}
.tab--large__item--active {
    border-bottom: 2px solid #f6e02f;
}
.tab:active {
    background-color: #1d2329;
    font-weight: bold;
}
.tab:hover {
    cursor: pointer;
    background-color: #1d2329;
    font-weight: bold;
}

.f--1 {
    flex: 1;
}

.m--l--1 {
    margin-left: 4px;
}
.m--l--2 {
    margin-left: 8px;
}
.m--l--3 {
    margin-left: 12px;
}
.m--l--4 {
    margin-left: 16px;
}
.m--r--1 {
    margin-right: 4px;
}
.m--r--2 {
    margin-right: 8px;
}
.m--r--3 {
    margin-right: 12px;
}
.m--r--4 {
    margin-right: 16px;
}
.m--l--1 {
    margin-left: 4px;
}
.m--l--2 {
    margin-left: 8px;
}
.m--l--3 {
    margin-left: 12px;
}
.m--l--4 {
    margin-left: 16px;
}
.m--b--1 {
    margin-bottom: 4px !important;
}
.m--b--2 {
    margin-bottom: 8px !important;
}
.m--b--3 {
    margin-bottom: 12px !important;
}
.m--b--4 {
    margin-bottom: 16px !important;
}
.m--b--6 {
    margin-bottom: 24px !important;
}
.m--b--10 {
    margin-bottom: 40px !important;
}

.d--none {
    display: none !important;
}
.d--block {
    display: block;
}
.d--flex {
    display: flex;
}

.b--dark-3 {
    background: #1d2329 !important;
}

/* Mobiles */
/* Tablets */
/* Small Laptops */
@media (min-width: 992px) {
    .sliders--mobile {
        display: none;
    }

    .tournament--mobile {
        display: none !important;
    }

    .d--only--mobile {
        display: none;
    }

    .layout__content__container__mobile {
        display: none;
    }
}
/* Small Laptops */
@media (max-width: 992px) {
    .pagination {
        width: 8px !important;
        height: 8px !important;
    }

    .tournament--desktop {
        display: none !important;
    }

    .d--only--desktop {
        display: none;
    }

    .sliders--desktop {
        display: none;
    }

    .layout__header {
        display: none;
    }
    .layout__content__about {
        padding: 40px 16px;
    }
    .layout__content__container__slider {
        display: none;
    }
    .layout__content__container__filter {
        display: none;
    }
    .layout__content__container__content__sidebar {
        display: none;
    }
    .layout__content__sidebar {
        display: none;
    }
}
/* Desktop */
/* Desktop */
@media (max-width: 1200px) {
    .layout__content__container__content__sidebar {
        display: none;
    }
}
.b--yellow-1 {
    background-color: #f6e02f;
}

.tournament:nth-child(2n) .tournament--desktop {
    background: #2c343a;
}

.tournament--sidebar {
    margin-bottom: 8px;
}
.tournament--sidebar__header {
    display: flex;
}
.tournament--sidebar__header__icon {
    padding-top: 8px;
}
.tournament--sidebar__header__content {
    margin-left: 8px;
    flex: 1;
}
.tournament--sidebar__header__content__title {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    color: #ffffff;
}
.tournament--sidebar__header__content__label {
    margin-bottom: 30px;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: #f6e02f;
}
.tournament--sidebar__details {
    display: flex;
}
.tournament--sidebar__details__detail {
    flex: 1;
}
.tournament--sidebar__details__detail__item {
    margin-bottom: 16px;
}
.tournament--sidebar__details__detail__item__label {
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #505d66;
}
.tournament--sidebar__details__detail__item__content {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #ffffff;
}
.tournament--desktop {
    display: flex;
    border-radius: 4px;
    background: transparent;
    margin-bottom: 8px;
    cursor: pointer;
}
.tournament--desktop__item {
    flex: 1;
    padding: 16px;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: #ffffff;
    white-space: nowrap;
}
.tournament--mobile {
    border-radius: 8px;
    overflow: hidden;
    background: #2c343a;
}
.tournament--mobile__offer {
    padding: 14px;
    background: #02f683;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #2c343a;
}
.tournament--mobile__buttons {
    display: flex;
}
.tournament--mobile__buttons__button {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 16px;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    color: #b7bfc7;
    border-right: 1px solid #3a454d;
    cursor: pointer;
}
.tournament--mobile__buttons__button:last-child {
    border-right: none;
}
.tournament--mobile__container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #3a454d;
}
.tournament--mobile__container__content {
    flex: 1;
    padding: 0 16px;
}
.tournament--mobile__container__content__status {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: #f6e02f;
}
.tournament--mobile__container__content__title {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}
.tournament--mobile__container__content__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 9px;
}
.tournament--mobile__container__content__prices {
    display: flex;
    align-items: flex-start;
}
.tournament--mobile__container__content__prices__item {
    flex: 1;
}
.tournament--mobile__container__content__prices__item__label {
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #505d66;
}
.tournament--mobile__container__content__prices__item__price {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #ffffff;
}
.tournament--mobile__container__content__details {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}
.tournament--mobile__container__content__details__item {
    flex: 1;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    line-height: 1.17;
    color: #b7bfc7;
    display: inline-flex;
    align-items: center;
}
.tournament--mobile__container__sidebar {
    padding-right: 16px;
    border-right: 1px solid #3a454d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tournament--mobile__container__sidebar__time {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.tournament--mobile__container__sidebar__time__hour {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
}
.tournament--mobile__container__sidebar__time__timezone {
    font-family: Ubuntu, sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: center;
    color: #b7bfc7;
}
.tournament--mobile__container__sidebar__date {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 1px solid #3a454d;
}
.tournament--mobile__container__sidebar__date__weekday {
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: #b7bfc7;
}
.tournament--mobile__container__sidebar__date__day {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #f6e02f;
}
.tournament--mobile__container__sidebar__date__month {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.86px;
    text-align: center;
    color: #ffffff;
}

.slider {
    border-radius: 6px;
    background: #2c343a;
    height: 280px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider__controls {
    position: absolute;
    bottom: 24px;
    right: 40px;
    display: inline-flex;
    align-items: center;
}
.slider__controls__control {
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.slider__controls__control:hover {
    opacity: 1;
    cursor: pointer;
}
.slider__paginations {
    position: absolute;
    bottom: 24px;
    left: 40px;
}
.slider__content {
    position: absolute;
    top: 40px;
    left: 40px;
}
.slider__content__title {
    margin-bottom: 16px;
    font-family: Ubuntu, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.slider__content__description {
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.92px;
    color: #ffffff;
}

/* Small Laptops */
@media (max-width: 992px) {
    .sliders {
        width: 100vw !important;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .sliders--mobile {
        max-width: 100%;
        box-sizing: border-box;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
    }

    .slider {
        width: 272px;
        height: 104px;
        border-radius: 6px;
        margin: 16px;
        margin-right: 0;
        display: inline-block;
    }
    .slider:last-child {
        margin-right: 16px;
    }
    .slider__content {
        position: absolute;
        top: 16px;
        left: 16px;
    }
    .slider__content__title {
        margin-bottom: 4px;
        font-size: 16px;
    }
    .slider__content__description {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.58px;
    }
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.image--border {
    border-radius: 6px;
    overflow: hidden;
}

.game {
    border-radius: 8px;
    background: #2c343a;
    padding: 16px;
    margin-bottom: 16px;
}
.game__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.game__footer__detail {
    flex: 1;
}
.game__footer__detail__label {
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    color: #505d66;
}
.game__footer__detail__label--right {
    text-align: right;
}
.game__footer__detail__team {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.game__footer__detail__team--right {
    text-align: right;
}
.game__footer__score {
    padding: 0 8px;
    display: flex;
    align-items: center;
}
.game__footer__score__item {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #3e4954;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.game__footer__score__seperator {
    padding: 0 4px;
    color: #ffffff;
}
.game__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.game__header__detail {
    display: flex;
    align-items: center;
}
.game__header__detail__status {
    font-size: 12px;
    font-weight: bold;
    color: #b7bfc7;
}
.game__header__detail__date {
    font-weight: bold;
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}
.game__header__detail__timezone {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    color: #505d66;
}
.game__header__sport {
    display: inline-flex;
    align-items: center;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    text-align: right;
    color: #ffffff;
}

.tag {
    color: #ffffff;
}
.tag--color--red {
    background: #dd1d42;
}
.tag--color--yellow {
    background: #f2cd5d;
    color: #191e24;
}
.tag--small {
    line-height: 16px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 0 4px;
}
.tag--medium {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    padding: 6px;
    border-radius: 4px;
}

.pagination {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    margin-right: 8px;
    background: #ffffff;
    opacity: 0.4;
    display: inline-block;
}
.pagination--active {
    opacity: 1;
}

.table__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table__header__label {
    flex: 1;
    font-family: Ubuntu, sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 16px;
}

.switch {
    height: 40px;
    border-radius: 999px;
    background: #2c343a;
    display: flex;
    color: #ffffff;
    margin-bottom: 24px;
}
.switch__item {
    flex: 1;
    border-radius: 999px;
    height: 40px;
    line-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
.switch__item--active {
    background: #ffffff;
    color: #2c343a;
}

.odds {
    width: 100%;
}
.odds__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.odds__header__button {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #505d66;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    padding: 0 16px;
}
.odds__header__tabs {
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
    background: #2c343a;
}
.odds__header__tabs__tab {
    height: 30px;
    padding: 0 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    text-align: center;
    color: #b7bfc7;
    border-radius: 999px;
}
.odds__header__tabs__tab--active {
    background: #f2cd5d;
    color: #2c343a;
}

.odd {
    width: 100%;
}
.odd__container {
    display: flex;
    flex-direction: column;
}
.odd__container__seperator {
    height: 0px;
    border-top: 1px solid #3a454d;
    width: calc(100% - 32px);
    margin: 0 16px;
    box-sizing: border-box;
}
.odd__container__content {
    padding: 16px;
    display: flex;
}
.odd__container__content__odd {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #3a454d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.odd__container__content__odd__details {
    width: 53px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #505d66;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.odd__container__content__details {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.odd__container__content__details__line {
    display: flex;
    flex: 1;
    margin-bottom: 8px;
}
.odd__container__content__details__line:last-child {
    margin-bottom: 0px;
}
.odd__container__content__details__line__name {
    display: flex;
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
}
.odd__container__content__details__line__tags {
    display: flex;
}
.odd__container__content__details__line__tags__tag {
    margin-left: 16px;
    width: 68px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background: #2c343a;
    border-radius: 6px;
}
.odd__container__content__details__line__tags__tag--active {
    background-color: #f2cd5d;
    color: #191e24;
}
.odd__container__content__details__line__tags__tag__subtitle {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.odd__header {
    height: 48px;
    width: 100%;
    background: #16191c;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}
.odd__header__margin {
    width: 86px;
}
.odd__header__time {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #ffffff;
    flex: 1;
    text-transform: uppercase;
}
.odd__header__table {
    display: inline-flex;
    flex-direction: row;
}
.odd__header__table__item {
    margin-left: 16px;
    width: 68px;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}

.bet {
    border-radius: 8px;
    background: #2c343a;
    overflow: hidden;
    margin-bottom: 16px;
}
.bet__footer {
    background: #3a454d;
    padding: 8px;
}
.bet__footer__line {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bet__footer__line__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}
.bet__footer__line__detail {
    font-size: 14px;
    line-height: 1;
    text-align: right;
    color: #ffffff;
}
.bet__seperator {
    height: 0px;
    width: 100%;
    border-bottom: 1px dashed #f6e02f;
    opacity: 0.4;
}
.bet__inputs {
    display: flex;
    align-items: center;
    padding: 8px;
    padding-top: 0;
}
.bet__inputs__input {
    padding-top: 0;
    padding: 8px;
    flex: 1;
}
.bet__container {
    padding: 16px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
}
.bet__container__content {
    flex: 1;
}
.bet__container__content__subtitle {
    font-size: 10px;
    color: #b7bfc7;
    margin-bottom: 4px;
}
.bet__container__content__title {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}
.bet__details {
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid #3a454d;
    display: flex;
    align-items: center;
}
.bet__details__icon {
    padding-right: 4px;
}
.bet__details__content {
    flex: 1;
}
.bet__details__content__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: #ffffff;
    margin-bottom: 5px;
}
.bet__details__content__subtitle {
    font-size: 10px;
    color: #b7bfc7;
}
.bet__header {
    padding: 16px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bet__header__type {
    line-height: 16px;
    padding: 0 4px;
    border: 1px solid #505d66;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 2px;
}
.bet__header__tag {
    margin-right: -16px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: #3a454d;
    padding: 2px 16px 2px 8px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.button--small {
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #f2cd5d;
    color: #2c343a;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    white-space: nowrap;
}
.button--large {
    border-radius: 4px;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    background-color: #02f683;
    color: #2c343a;
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
}
.button--large:hover {
    cursor: pointer;
    background: #2ecc71;
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown {
    cursor: pointer;
    position: relative;
}
.dropdown__content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 164px;
    border-radius: 6px;
    box-shadow: 0 2px 20px 8px rgba(0, 0, 0, 0.2);
    background: #2c343a;
}
.dropdown__content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 0 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.dropdown__content__item:hover {
    cursor: pointer;
    background: #1d2329;
}

.seperator {
    width: 100%;
    height: 1px;
    background: #3a454d;
    margin: 24px 0;
}

.form__control {
    position: relative;
}
.form__control__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.form__control__icon--right {
    position: absolute;
    top: 8px;
    right: 8px;
}
.form__control__icon--left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.title {
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 0;
}

.subtitle {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #505d66;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.subtitle--light {
    color: #ffffff;
}

.paragraph {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 0;
}
.paragraph--small {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
}

.link {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    color: #f2cd5d;
    text-decoration: none;
}

.rank {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    background: #2c343a;
    margin-bottom: 16px;
}
.rank__content {
    display: inline-flex;
    align-items: center;
}
.rank__content__order {
    margin-right: 8px;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    background: #3a454d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.rank__content__coins {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    color: #b7bfc7;
    display: inline-flex;
    align-items: center;
}
.rank__content__user {
    display: inline-flex;
    align-items: center;
}
.rank__content__user__avatar {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 1px solid #3a454d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    margin-right: 4px;
    position: relative;
    overflow: hidden;
}
.rank__content__user__avatar__image {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rank__content__user__name {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.message--self .message__content__message {
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    background: #f2cd5d;
    color: #1a1e21;
}

.message {
    display: flex;
}
.message--self {
    justify-content: flex-end;
}
.message--last {
    margin-bottom: 16px;
}
.message__content__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message__content__details__detail {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #b7bfc7;
}
.message__content__message {
    margin-bottom: 8px;
    max-width: 220px;
    padding: 8px;
    border-radius: 8px;
    border-top-left-radius: 0;
    background: #2c343a;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 1px;
    color: #ffffff;
}
.message__content--no-avatar {
    margin-left: 34px;
}
.message__avatar {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background: #2c343a;
    border: 1px solid #3a454d;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    overflow: hidden;
}
.message__avatar__image {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: Ubuntu, sans-serif;
}
