.section.info {
    background-color: $gb_color_table_bg;

    .table {
        border: 1px solid $gb_color_table_bg;
        width: 100% !important;
    }

    .awards.table {
        min-width: 100%;

        .col-position {
            min-width: 25%;
            width: 25%;
        }
        .col-prize {
            min-width: 75%;
            width: 75%;
        }

        .tbody {
            .td {
                font-size: 1.1rem;
                font-weight: $gb_font-bold;
            }
        }
    }
}
