@tab-content-frm_padding: 15px;
@tab-content-frm_height: calc(~"100%" - (@menu-frm_height + @tabs-frm_height + @footer-frm_height));

.tab-tournament-frm {
    &.tab-content-frm {
        background-color: @gb_color_dark3;
        height: @tab-content-frm_height;
        padding-top: @tab-content-frm_padding;
        padding-bottom: @tab-content-frm_padding;
    }

    .section {
        .box-shadow(0.5);
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .field {
        display: flex;
        align-items: center;

        .form-control {
            height: 2rem;
        }

        .field-title {
            margin-right: 0.5rem;
            font-size: 1.3rem;
            text-transform: uppercase;
        }

        .input-win {
            background-color: @gb_color_gold;
            color: @gb_color_dark1;
            font-weight: bold;
            border: none;
        }
    }

    .button-action {
        border: 1px solid @gb_color_gold_dark;
        white-space: nowrap;
        background-color: @gb_color_gold;
        color: @gb_color_dark1;
        .box-shadow(0.2);

        &:hover {
            background-color: @gb_color_gold_ligth;
        }
    }

    .button-trash {
        background-color: @gb_color_dark1;

        .icon {
            color: @gb_color_white98;
            font-size: 1.3rem;
        }
    }

    @import "_bets";
    @import "_chat";
    @import "_matches";
    @import "_info";
}
